<div class="container">
  <app-toolbar></app-toolbar>

  <mat-sidenav-container class="fill-container">
    <mat-sidenav mode="side" opened class="navbar">
      <mat-nav-list>
        <a mat-list-item href="#"
          ><div>
            <mat-icon class="icon">home</mat-icon>
            <span class="text">Principal</span>
          </div></a
        >
        <a mat-list-item href="#"
          ><div>
            <mat-icon class="icon">event note</mat-icon>
            <span class="text">Relatório</span>
          </div></a
        >
        <a mat-list-item href="#"
          ><div>
            <mat-icon class="icon">lists</mat-icon>
            <span class="text">Receita</span>
          </div></a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
